body {
    color: white;
    background-color: black;
}

#intro {
    display: flex;
    height: 400px;
    background-image: url('./assets/img/man-in-brewery.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-black {
    background-color: black;
}

.divider {
    color: black;
    background-color: #eee;
}

.book {
    display: flex;
    height: 200px;
    background-image: url('./assets/img/man-at-bar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.book-tasting {
    font-size: 1.5em;
    font-weight: 600;
    border: 3px solid;
}

/* Media Queries */

@media(min-width: 576px) {
    #intro {
        height: 800px;
    }
    .book {
        height: 300px;
    }
    
}

@media(min-width: 768px) {
    #intro {
        height: 800px;
    }
    .book {
        height: 400px;
    }
}

@media(min-width: 2560px) {
    body {
        font-size: 2rem;
    }
    h1,
    h2,
    h3 {
        font-size: 3rem;
    }
    .navbar-brand {
        font-size: 2rem;
    }
    #intro {
        height: 1000px;
    }
    .book {
        height: 600px;
    }
}